## Nama : Shinta Aulia Septiani 
## NIM : 1800015054

# Pendahuluan

Assalamualaikum warahmatullahi wabarakatuh
Robbi Zidni Ilma Warzuqni Fahma

Selamat datang di modul Mini Projek Kelas Dasar
Dalam modul ini kamu diminta untuk menyelesaikan:
* [A] 1 tugas sederhana,
* [B] 1 tugas kompleks,  dan 
* [C] 1 tugas tantangan.

Ketentuan Penilaian:
1. Soal yang wajib diselesaikan adalah tugas [A] dan [B] dengan nilai masing-masing adalah **20** dan **80**

2. Soal mini projek ini **berkaitan langsung** dengan tugas harian(per pertemuan). Bagi yang belum menyelesaikan tugas harian maka Mini Projeknya **TIDAK AKAN DINILAI**

3. Tugas Tantangan [C] merupakan akumulasi dari tugas [A] dan tugas [B], Soal ini akan diunggah pada periode waktu tertentu dan dikumpulkan pada periode waktu tertentu. Nilai dari tugas tantangan ini adalah **100** setara dengan nilai **MINI PROJEK** dan **dua pin immunity**

4. Segala peraturan dalam Mini Projek ini bersifat mengikat dan tidak dapat diganggu gugat.

5. Segala kendala yang dihadapi seperti susah signal, laptop rusak, berantem sama temen , dll agar dikomunikasikan kepada Intruktur atau Asisten Instruktur [TIDAK ADA JAMINAN KEMUDAHAN namun diberikan HAK UNTUK MENGAJUKAN KEMUDAHAN]

6. Segala bentuk PLAGIASI/MENCONTEK HUKUMNYA **HARAM** dan secara otomatis **dikeluarkan dari Google Classroom**

7. Ketentuan Waktu Mini Projek:

|  Waktu  | Agenda |
|---------|------- |
|20 April 2021 | Unggah MP [A] dan [B] |
|20 -  29 April 2021 | Pengerjaan & Pengumpulan untuk MP [A] dan [B] |
|28 April 2021 | Unggah MP [C]|
|28 - 29 April 2021 | Pengerjaan & Pengumpulan untuk MP [C]

# MINI PROJEK [A]

## Fungsi "Pos_Neg_Nol"

Buatlah sebuah fungsi "Pos_Neg_Nol" dengan ketentuan:
1. Input berupa data numerik **Tunggal**
2. Output sebuah teks/string yang menyatakan "Positif", "Negatif", "Nol"

In [109]:
#input data numerik tunggal
def posnegnol(x):

  #menentukan bilangan positif/negatif/nol
  if x > 0 :
    print("Bilangan {} merupakan bilangan positif". format(x))
  elif x < 0 :
    print("Bilangan {} merupakan bilangan negatif". format(x))
  else :
    print("Bilangan {} merupakan bilangan NOL". format(x))

posnegnol(-90)

Bilangan -90 merupakan bilangan negatif

## Fungsi "Mahal_Diskon"

Buatlah sebuah fungsi "Mahal_Diskon" dengan ketentuan:
1. Input berupa data harga produk dengan tipe data numerik **Tunggal**
2. Kategori Input adalah "Murah" dan "Mahal", kemudian diskon ada 3 kategori "10 %", "20 %", dan ""40%"
3. Output Pertama sebuah teks/string yang menyatakan "Mahal" atau "Murah" dan Keterangan "Kamu Dapat Diskon ..."
4. Output Kedua adalah harga yang perlu dibayarkan

In [110]:
def Mahal_Diskon(total):
  print("\t\t\tTOKO ELEKTRONIK")
  print("\t\t\tDiskon Up to 40%")
  print()
  print("Diskon :")
  print("1. Setiap Pembelian diatas >Rp15.000.000 akan mendapatkan diskon sebesar 40%")
  print("2. Setiap Pembelian Rp15.000.000 - Rp8.000.000 akan mendapatkan diskon sebesar 20%")
  print("3. Setiap Pembelian dibawah <Rp8.000.000 akan mendapatkan diskon sebesar 10%")
  print()
  print()
  
  #Saya mendefinisikan kondisi mahal yaitu >Rp10.000.000 dan 
  #murah ketika <=10.000.000

  print("Total belanjaan Anda kali ini sebesar Rp{}". format(total))
  if total > 10000000:
    if total > 15000000 :
      print("Mahal sekali belanjaan Anda")
      diskon = total*40/100
      print("Tenang, kita ada diskon 40% buat kamu yaitu sebesar Rp{}". format(diskon))
      total_sesudah_diskon =  total - diskon
      print("Jadi, kamu hanya perlu membayar senilai Rp{}". format(total_sesudah_diskon))
    else:
      print("Mahal sekali belanjaan Anda")
      diskon = total*20/100
      print("Tenang, kita ada diskon 20% buat kamu yaitu sebesar Rp{}". format(diskon))
      total_sesudah_diskon =  total - diskon
      print("Jadi, kamu hanya perlu membayar senilai Rp{}". format(total_sesudah_diskon))
  else :
    if total < 8000000:
      print("Belanjaan Anda kali ini cukup murah")
      diskon = total*10/100
      print("Tetapi walaupun tergolong murah. Kamu juga akan mendapatkan diskon 10% yaitu sebesar Rp{}". format(diskon))
      total_sesudah_diskon =  total - diskon
      print("Jadi, kamu hanya perlu membayar senilai Rp{}". format(total_sesudah_diskon)) 
    else :
      print("Belanjaan Anda kali ini cukup murah")
      diskon = total*20/100
      print("Tetapi walaupun tergolong murah. Kamu juga akan mendapatkan diskon 20% yaitu sebesar Rp{}". format(diskon))
      total_sesudah_diskon =  total - diskon
      print("Jadi, kamu hanya perlu membayar senilai Rp{}". format(total_sesudah_diskon)) 

Mahal_Diskon(9000000)

			TOKO ELEKTRONIK
			Diskon Up to 40%

Diskon :
1. Setiap Pembelian diatas >Rp15.000.000 akan mendapatkan diskon sebesar 40%
2. Setiap Pembelian Rp15.000.000 - Rp8.000.000 akan mendapatkan diskon sebesar 20%
3. Setiap Pembelian dibawah <Rp8.000.000 akan mendapatkan diskon sebesar 10%


Total belanjaan Anda kali ini sebesar Rp9000000
Belanjaan Anda kali ini cukup murah
Tetapi walaupun tergolong murah. Kamu juga akan mendapatkan diskon 20% yaitu sebesar Rp1800000.0
Jadi, kamu hanya perlu membayar senilai Rp7200000.0

# MINI PROJEK [B]

Buatlah sebuah fungsi dengan input adalah nilai awal a dan b:

Input: a = 1, b=2

a & b: Bilangan antara -9999:9999

Output: DataFrame dengan tampilan sebagai berikut:

|Bilangan| Genap/Ganjil | Pos/Neg/Nol | Satuan/Ratusan/Ribuan |
|----|---|---| ----|
|1   |Ganjil|Positif| Satuan|
|-11  |Ganjil|Negatif| Puluhan |
|112 |Genap|Positif| Ratusan|

In [111]:
import pandas as pd
import numpy as np

In [112]:
def projekB(a,b):
  if a not in range(-9999,9999,1):
    print("nilai a tidak masuk kedalam interval, masukkan nilai a lainnya")
  elif b not in range(-9999,9999,1):
    print("Nilai b tidak masuk kedalam interval, masukkan nilai b lainnya")
  else :
    Bilangan = list(range(a,b))

    #genap ganjil
    genap_ganjil =[]
    for i in Bilangan :
      if i % 2 == 0:
        genap_ganjil.append("Genap")
      else :
        genap_ganjil.append("Ganjil")

    #pos/neg/nol
    pnn = []
    for i in Bilangan:
      if i > 0 :
        pnn.append("Positif")
      elif i < 0 :
        pnn.append("Negatif")
      else :
        pnn.append("Nol")

    #satuan/puluhan/ratusan/ribuan
    sprr = []
    for i in Bilangan :
      if i<10 and i>-10 :
        sprr.append("Satuan")
      elif i<100 and i>-100:
        sprr.append("Puluhan") 
      elif i<1000 and i>-1000:
        sprr.append("Ratusan")
      elif i<10000 and i>-10000:
        sprr.append("Ribuan")

    data = pd.DataFrame({'Bilangan' : Bilangan, 'Genap/Ganjil' : genap_ganjil,
                      'Positif/Negatif/Nol' : pnn, 'Satuan/Puluhan/Ratusan/Ribuan' : sprr})
    return data
projekB(-2,102)

     Bilangan Genap/Ganjil Positif/Negatif/Nol Satuan/Puluhan/Ratusan/Ribuan
0          -2        Genap             Negatif                        Satuan
1          -1       Ganjil             Negatif                        Satuan
2           0        Genap                 Nol                        Satuan
3           1       Ganjil             Positif                        Satuan
4           2        Genap             Positif                        Satuan
..        ...          ...                 ...                           ...
99         97       Ganjil             Positif                       Puluhan
100        98        Genap             Positif                       Puluhan
101        99       Ganjil             Positif                       Puluhan
102       100        Genap             Positif                       Ratusan
103       101       Ganjil             Positif                       Ratusan

[104 rows x 4 columns]

#MINI PROJEK [C]

Buatlah sebuah fungsi untuk membuat suatu dataframe dengan input:
1. Nilai Minimal
2. Nilai Maksimal
3. Rentang Kelas
4. Jumlah Kelas

Output dari fungsi tersebut adalah dataframe dengan kolom-kolom:
Nama Kelas, Batas Bawah, Batas Atas, Nilai Tengah seperti contoh berikut:
Input:
1. Nilai Minimal  : 0.6000
2. Nilai Maksimal : 2.2665
3. Rentang Kelas  : 0.3333
4. Jumlah Kelas   : 6

In [178]:
def projekC(a,b,c,d) :
  #a = nilai min; b = nilai max; c = rentang kelas; d = jumlah kelas

  #nama kelas
  Nama_Kelas = []
  for i in range(d):
    u = ("U{}". format(i+1))
    Nama_Kelas.append(u)

  #batas bawah batas atas
  A = [a]
  B = [a+c]
  for i in range(d-1):
    data1 = a + c
    data2 = data1 + c
    A.append(round(data1,6))
    B.append(round(data2,6))
    a = data1

  #nilai tengah
  nilai_tengah = []
  for i in range(d) :
    nt = (A[i] + B[i])/2
    nilai_tengah.append(round(nt,6))
  
  data = pd.DataFrame({'Nama Kelas' : Nama_Kelas, 'Batas Bawah' : A, 'Batas Atas' : B, 'Nilai Tengah' : nilai_tengah})
  return data

projekC(0.60000,2.26650, 0.33333, 6)

  Nama Kelas  Batas Bawah  Batas Atas  Nilai Tengah
0         U1      0.60000     0.93333      0.766665
1         U2      0.93333     1.26666      1.099995
2         U3      1.26666     1.59999      1.433325
3         U4      1.59999     1.93332      1.766655
4         U5      1.93332     2.26665      2.099985
5         U6      2.26665     2.59998      2.433315